$font-baloo:'Baloo 2', cursive;
$font-rale:'Raleway', sans-serif;
$font-rubik:'Rubik', sans-serif;
$font-mate:'Mate SC', serif;
$font-inconsolate:'Inconsolata', monospace;

// COlors
$primary-color:blue;
$secondary-color:#00bfff;
$third-color:yellow;